@using One_more_time.Models.Form
@using One_more_time.Models.Table
@model List<Laptop>

<h1>Most Expensive Laptops</h1>

<div class="d-flex p-2">
    @foreach (Laptop i in Model)
    {
        <div class="card test" style="width: 18rem;">
            <img src="@i.Img" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@i.Brand.Name</h5>
                <p class="card-text">@i.Model</p>
                <p class="card-text">Release year: @i.Year</p>
                <p class="card-text">@i.Price</p>
            </div>
        </div>
    }
</div>